.App {
  text-align: left;
  font-family: 'Poppins', sans-serif;
  background-color: #E5E5E5;
  min-height: 100vh;
}

h1,
h5,
p {
  margin: 0;
}

.position-absolute-translate-center {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.mt-46 {
  margin-top: 46px;
 }

.mt-59 {
 margin-top: 59px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-17 {
  margin-right: 17px;
}

.mr-40 {
  margin-right: 40px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.m-auto {
  margin: auto;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;
}

.header-title {
  font-size: 16px;
  line-height: 24px;
}

.m-inline-19 {
  margin-inline: 19px;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 580px) {
  .header {
    margin-bottom: 49px;
  }

  .header-title {
    font-size: 36px;
    line-height: 54px;
  }

  .ellipsis {
    width: calc(100vw - 380px);
  }
}

@media (min-width: 775px) {
  .empty-state {
    width: 70%;
  }
  .ellipsis {
    width: calc(100vw - 380px);
  }
}

@media (min-width: 1200px) {
  .empty-state {
    max-width: 700px;
  }

  .ellipsis {
    width: calc(100vw - 380px);
  }
}

@media (min-width: 1440px) {
  .ellipsis {
    width: calc(60% - 380px);
  }
}